In [7]:
import matplotlib.pyplot as plt
from matplotlib.patches import Patch
import pandas as pd
import numpy as np
import seaborn as sns
from pandas import DataFrame as df

In [8]:
event_df = pd.read_csv("events_data.csv")
event_df.head(10)

,event_id,device_id,timestamp,longitude,latitude,city,state
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi
1,2955066,4.734221e+18,2016-05-01 20:44:16,88.388361,22.660325,Calcutta,WestBengal
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi
3,448114,5.731369e+18,2016-05-03 13:21:16,80.343613,13.153332,Chennai,TamilNadu
4,665740,3.388880e+17,2016-05-06 03:51:05,85.997745,23.842609,Bokaro,Jharkhand
5,1078723,-5.124242e+17,2016-05-02 02:21:20,83.398244,17.768149,Visakhapatnam,AndhraPradesh
6,2948755,5.536513e+18,2016-05-03 16:20:14,80.359796,13.128174,Chennai,TamilNadu
7,280014,-8.879644e+18,2016-05-05 13:06:01,78.155397,16.390327,Wanparti,AndhraPradesh
8,2309828,3.020769e+18,2016-05-04 09:24:50,77.263922,28.757914,Delhi,Delhi
9,720049,4.928556e+18,2016-05-06 19:00:52,72.844795,18.974929,Mumbai,Maharashtra

In [9]:
event_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   event_id   int64
 1   device_id  float64
 2   timestamp  object
 3   longitude  float64
 4   latitude   float64
 5   city       object
 6   state      object
dtypes: float64(3), int64(1), object(3)
memory usage: 173.7+ MB

In [10]:
import mysql.connector

In [11]:
connection = mysql.connector.connect(host='cpanel.insaid.co',
                                         database='Capstone1',
                                         user='student',
                                         password='student')

In [12]:
cursor = connection.cursor()
cursor.execute("USE Capstone1")
cursor.execute("select * from gender_age_train")

In [13]:
result = cursor.fetchall()
gender_age_df=df(result)
gender_age_df.head()

                     0  1   2       3
0 -8076087639492063270  M  35  M32-38
1 -2897161552818060146  M  35  M32-38
2 -8260683887967679142  M  35  M32-38
3 -4938849341048082022  M  30  M29-31
4   245133531816851882  M  30  M29-31

In [14]:
gender_age_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       74645 non-null  int64
 1   1       74645 non-null  object
 2   2       74645 non-null  int64
 3   3       74645 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [15]:
cursor1 = connection.cursor()
cursor1.execute("USE Capstone1")
cursor1.execute("select * from phone_brand_device_model")

In [16]:
result1 = cursor1.fetchall()
phone_brand_device_model_df=df(result1)
phone_brand_device_model_df.head()

                     0     1        2
0  1877775838486905855  vivo      Y13
1 -3766087376657242966    小米     V183
2 -6238937574958215831  OPPO      R7s
3  8973197758510677470    三星    A368t
4 -2015528097870762664    小米  红米Note2

In [17]:
print(phone_brand_device_model_df[1].unique())

['vivo' '小米' 'OPPO' '三星' '酷派' '联想 ' '华为' '奇酷' '魅族' '斐讯' '中国移动' 'HTC' '天语'
 '至尊宝' 'LG' '欧博信' '优米' 'ZUK' '努比亚' '惠普' '尼比鲁' '美图' '乡米' '摩托罗拉' '梦米' '锤子'
 '富可视' '乐视' '海信' '百立丰' '一加' '语信' '海尔' '酷比' '纽曼' '波导' '朵唯' '聆韵' 'TCL' '酷珀'
 '爱派尔' 'LOGO' '青葱' '果米' '华硕' '昂达' '艾优尼' '康佳' '优购' '邦华' '赛博宇华' '黑米' 'Lovme'
 '先锋' 'E派' '神舟' '诺基亚' '普耐尔' '糖葫芦' '亿通' '欧新' '米奇' '酷比魔方' '蓝魔' '小杨树' '贝尔丰'
 '糯米' '米歌' 'E人E本' '西米' '大Q' '台电' '飞利浦' '唯米' '大显' '长虹' '维图' '青橙' '本为' '虾米'
 '夏新' '帷幄' '百加' 'SUGAR' '欧奇' '世纪星' '智镁' '欧比' '基伍' '飞秒' '德赛' '易派' '谷歌'
 '金星数码' '广信' '诺亚信' 'MIL' '白米' '大可乐' '宝捷讯' '优语' '首云' '瑞米' '瑞高' '沃普丰' '摩乐'
 '鲜米' '凯利通' '唯比' '欧沃' '丰米' '恒宇丰' '奥克斯' '西门子' '欧乐迪' 'PPTV']

In [18]:
list_brands=phone_brand_device_model_df[1].unique().tolist()

In [ ]:
list_brands

NameError: name 're' is not defined

SyntaxError: invalid syntax (<ipython-input-8-d599c6b78d33>, line 1)

In [2]:
pip install googletrans==3.1.0a0

Processing c:\users\1023040\appdata\local\pip\cache\wheels\dd\59\af\8d6c96a719763990f1c548e36b17d9efdfb767f42f7ff39f53\googletrans-3.1.0a0-py3-none-any.whl
Requirement already satisfied: httpx==0.13.3 in c:\users\1023040\anaconda3\lib\site-packages (from googletrans==3.1.0a0) (0.13.3)
Requirement already satisfied: chardet==3.* in c:\users\1023040\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Requirement already satisfied: httpcore==0.9.* in c:\users\1023040\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (0.9.1)
Requirement already satisfied: idna==2.* in c:\users\1023040\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Requirement already satisfied: hstspreload in c:\users\1023040\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2020.12.22)
Requirement already satisfied: certifi in c:\users\1023040\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2020.6.20)
Requirement already satisfied: sniffio in c:\users\1023040\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.2.0)
Requirement already satisfied: rfc3986<2,>=1.3 in c:\users\1023040\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.4.0)
Requirement already satisfied: h11<0.10,>=0.8 in c:\users\1023040\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (0.9.0)
Requirement already satisfied: h2==3.* in c:\users\1023040\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.2.0)
Requirement already satisfied: hpack<4,>=3.0 in c:\users\1023040\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.0.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in c:\users\1023040\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (5.2.0)
Installing collected packages: googletrans
  Attempting uninstall: googletrans
    Found existing installation: googletrans 3.0.0
    Uninstalling googletrans-3.0.0:
      Successfully uninstalled googletrans-3.0.0
Successfully installed googletrans-3.1.0a0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import googletrans
from googletrans import Translator
from pprint import pprint

In [4]:
translator = Translator()

In [5]:
print(translator.detect('小米'))

Detected(lang=zh-CN, confidence=1)

In [19]:
translations=translator.translate(list_brands,dest='en')

In [20]:
for brands in translations:
    print(brands.text)

vivo
Millet
OPPO
Samsung
Coolpad
Lenovo
Huawei
Qiku
Meizu
Phicomm
China Mobile
HTC
Amagatarai
Supreme treasure
LG
Obersion
Quality rice
YOU
Nubia
HP
Nibiru
Mito
Xiangmi
Motorola
Dream rice
hammer
InFocus
LeTV
Hisense
Bailifeng
OnePlus
Language letter
Haier
Coolby
Newman
waveguide
Dove
Rhyme
TCL
Cruel
Aipel
LOGO
Shallots
Fruit rice
Asus
Onda
Ayuni
Konka
Yougo
Banghua
Cyber ​​Yuhua
black rice
Lovme
pioneer
E School
Shenzhou
Nokia
Punel
Candied haws
Toru
Ou Xin
Mickey
Rubik's Cube
Blue demon
Little poplar
Belfon
Glutinous rice
Mi Ge
E person E book
Sago
Big Q
Taipower
Philips
Wei Mi
Daxian
Changhong
Vitu
Green Orange
Originally
Dried shrimp
Amoi
Curtain
Bajia
SUGAR
Ouch
Century Star
Zhimei
Obi
Kivu
Femtosecond
Desai
Yipai
Google
Venus Digital
Widely believed
Noah letter
ONE THOUSAND
White rice
Big cola
Projet
Youyu
First cloud
Remy
Rigo
Wopfon
Mole
Fresh rice
Kellyton
Weibi
Ovo
Fonmi
Hengyufeng
Oaks
Siemens
Oledi
PPTV